body{
    font-family: Roboto,sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pic{
    width: auto;
    height: 100px;
    border-radius: 5px;
    border:2px solid #3882F6 ;
    margin: 5px;
}

.body{
    flex:1;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

a, .info {
    font-size: 18px;
    color: #E5E7EB;
}

.content1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.hero{
    display: flex;
    flex-direction: column;
}
.content1, .footer{
    background-color: #1F2937;
}

.sign-top, .sign-bot, .call-box{
    background-color: #3882F6;
}

.textitle{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.cubes{
    padding: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.cube{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.subtext{
    max-width: 100px;
    text-align: center;
    
}

.content3{
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poetry{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    

}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1F2937;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    text-align: end;
}

.author{
    font-weight: bold;
    display: block;
    align-self: end;
}

.content4{
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.call-box{
    border-radius: 5px;
    height: 100px;
    width: 750px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-sign{
    color: #F9FAF8;
    font-weight: bold;

}

.text-inst{
    color: #F9FAF8;

}

.footer{
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

button{
    padding: 4px 20px;
    border-radius: 5px;
}

.sign-top, .sign-bot{
    color: #F9FAF8;
}

.sign-top {
    border: 2px solid #1F2937;
}

.sign-bot {
    border: 2px solid #F9FAF8;
}

ul{
   display: flex;
   list-style-type: none;
   gap: 16px;
}

a{
    text-decoration: none;
    
}
